.addrec {
  font-family: "Mrs Sheppards", cursive;
  color: #F49C19;
}

.But {
  background-color: #F49C19;
  border: none;
}

/* .inputt {
  background: url('https://www.shutterstock.com/image-photo/herbs-spices-over-wood-background-600nw-370839545.jpg');
  background-size: cover;
} */

.inputt {
  background: url('https://img.freepik.com/premium-photo/indian-ethnic-food-buffet-white-concrete-table-from-curry-samosa-rice-biryani-dal-pane_1106939-153239.jpg?w=2000');
  background-size: cover;
}