@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Dancing+Script:wght@600&display=swap');



.footer-wrapper {
  background-color: rgb(242, 243, 241);
  color: #000000;
  padding: 40px 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
}

.footer-section {
  flex: 1;
  margin: 20px;
  min-width: 200px;
}

.logo {
  font-size: 28px;
  letter-spacing: 2px;
  color: #F49C19;
}

.logo span {
  font-size: 14px;
  vertical-align: super;
  color: #000000;
}

.logo em {
  font-family: 'Dancing Script', cursive;
  color: #000000;
  display: block;
  margin-top: 5px;
  font-size: 22px;
}

.footer-section p {
  font-size: 14px;
  color: #aaa;
  line-height: 1.6;
  margin-top: 15px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 80px);
  grid-gap: 10px;
}

.photo-grid img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

.footer-section h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #000000;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #000000;
}

.footer-bottom {
  border-top: 1px solid #3b3b3b;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 13px;
  color: #585858;
  background-color: #ffffff;
}